<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="RegularAgent"  type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="Talker"        type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="Organizer"     type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="Simulation"    type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <Simulation>
    <add key="RegularAgentsPart" value="0.78"/>
    <add key="TalkersPart" value="0.15"/>
    <add key="OrganizersPart" value="0.07"/>
  </Simulation>
    
  <RegularAgent>
    <add key="ActivityMean" value="2288"/>
    <add key="ActivityStd" value="28728"/>
    <add key="ContactsMean" value="50"/>
    <add key="ContactsStd" value="20"/>
    <add key="StrongConnectionsMean" value="5"/>
    <add key="StrongConnectionsStd" value="3"/>
    <add key="CallLengthMean" value="38"/>
    <add key="CallLengthStd" value="79"/>
  </RegularAgent>
  
  <Talker>
    <add key="ActivityMean" value="1349"/>
    <add key="ActivityStd" value="23143"/>
    <add key="ContactsMean" value="200"/>
    <add key="ContactsStd" value="60"/>
    <add key="StrongConnectionsMean" value="40"/>
    <add key="StrongConnectionsStd" value="15"/>
    <add key="CallLengthMean" value="142"/>
    <add key="CallLengthStd" value="429"/>
  </Talker>

  <Organizer>
    <add key="ActivityMean" value="883"/>
    <add key="ActivityStd" value="18304"/>
    <add key="ContactsMean" value="500"/>
    <add key="ContactsStd" value="100"/>
    <add key="StrongConnectionsMean" value="150"/>
    <add key="StrongConnectionsStd" value="40"/>
    <add key="CallLengthMean" value="55"/>
    <add key="CallLengthStd" value="179"/>
  </Organizer>

</configuration>