<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RegularAgentActivityMean" value="50"/>
    <add key="RegularAgentActivityStd" value="10"/>
    <add key="RegularAgentContactsMean" value="50"/>
    <add key="RegularAgentContactsStd" value="20"/>
    <add key="RegularAgentStrongConnectionsMean" value="5"/>
    <add key="RegularAgentStrongConnectionsStd" value="3"/>
  </appSettings>
</configuration>